h1 Create a New Admin Account

if message
  p= message

form(action='/register', method='POST')
  .input-group
    input(type='text', placeholder="Organization Name", value=orgName, size="40", name='orgName', autofocus, required)
  .input-group
    input(type='text',placeholder="First Name" value=firstName, size="40", name='ownerFirstName', autofocus, required)
  .input-group
    input(type='text', placeholder="Last Name" value=lastName, size="40",name='ownerLastName', autofocus, required)
  .input-group
    input(type='email', placeholder='email' value=email, name='email' autofocus, required)
  .input-group
    input#pass(type='password', placeholder='Password' name='password', autofocus, required)
  .input-group
    input(type='password' placeholder='Verify Password' name='verify', autofocus, required)
  .input-group
    input(type='submit', value='register')
